<% cache [comment, User.role_for_story(current_user, scene.story), "scene-comment"] do %>
  <div id="comment_<%= comment.id %>" class="comment_box <%= comments_classes(comment) %>">
    <div class="comment-info">
      <div class="comment-name pull-left">
        <%= link_to comment.user.name, comment.user %>
      </div>
      <div class="comment-time pull-right">
        <%= time_ago_in_words(comment.created_at) %> ago
      </div>
    </div>
    <div class="comment_photo">
      <% if comment.user.avatar.file? %>
        <%= image_tag comment.user.avatar.url(:tiny) %>
      <% else %>
        <%= image_tag "default_profile.jpg" %>
      <% end %>
    </div>
    <div class="comment">
      <div class="controls">
        <% if can? :update, comment %>
          <%= link_to edit_scene_comment_path(scene, comment), :remote => true do %>
            <i class="icon-edit"></i> Edit
          <% end %>&nbsp;
          <%= link_to "Delete", scene_comment_path(scene, comment), :method => :delete, :confirm => "Are you sure?", :remote => true %>
        <% end %>
      </div>
      <div id="comment_<%= comment.id %>_content" class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  </div>
<% end %>
