<% cache [comment, current_user, "scene-comment"] do %>
  <div id="comment_<%= comment.id %>" class="comment_box <%= comments_classes(comment) %>">
    <div class="comment-info">
      <div class="comment-name pull-left">
        <% if comment.user.nil? %>
          Guest
        <% else %>
          <%= link_to comment.user.name, comment.user %>
        <% end %>
      </div>
      <div class="comment-time pull-right">
        <%= t 'comments.show.time_html', timeago: timeago(comment.created_at) %>
      </div>
    </div>
    <div class="comment_photo">
      <% if !comment.user.nil? && comment.user.avatar.file? %>
        <%= image_tag comment.user.avatar.url(:tiny) %>
      <% else %>
        <%= image_tag "default_profile.jpg" %>
      <% end %>
    </div>
    <div class="comment">
      <div class="controls">
        <% if can? :update, comment %>
          <%= link_to edit_scene_comment_path(scene, comment), :remote => true do %>
            <i class="icon-edit"></i> <%= t 'application.actions.edit' %>
          <% end %>&nbsp;
          <%= link_to t('application.actions.delete'), scene_comment_path(scene, comment), :method => :delete, :confirm => t('comments.destroy.confirm'), :remote => true %>
        <% end %>
      </div>
      <div id="comment_<%= comment.id %>_content" class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  </div>
<% end %>
