<div class="comment_box" id="<%= "comment_#{comment.id}" if comment.id %>">
 <% if can? :create, Comment %>
    <div class="comment_photo">
      <% if current_user.avatar.file? %>
        <%= image_tag current_user.avatar.url(:tiny) %>
      <% else %>
        <%= image_tag "alien.svg" %>
      <% end %>
    </div>
    <div class="comment">
      <%= form_for [scene, comment], :html => { :class => 'form-inline', :style => 'margin: 0' }, :remote => true do |f| %>
        <div class="input-append">
          <%= f.text_field :content, :placeholder => 'Type a message?' %>
          <%= f.submit :class => "btn", :value => 'Comment' %>
        </div>
      <% end %>
      <span class="text-error"></span>
    </div>
  <% end %>
</div>
