<% cache [story_comment, User.role_for_story(current_user, story_comment.story), "story-comment"] do %>
  <div id="story_comment_<%= story_comment.id %>" class="comment_box <%= comments_classes(story_comment, true) %>">
    <div class="comment-info">
      <div class="comment-name pull-left">
        <%= link_to story_comment.user.name, story_comment.user %>
      </div>
      <div class="comment-time pull-right">
        <%= time_ago_in_words(story_comment.created_at) %> ago
      </div>
    </div>
    <div class="comment_photo">
      <% if story_comment.user.avatar.file? %>
        <%= image_tag story_comment.user.avatar.url(:tiny) %>
      <% else %>
        <%= image_tag "default_profile.jpg" %>
      <% end %>
    </div>
    <div class="comment">
      <div class="controls">
        <% if can? :update, story_comment %>
          <%= link_to edit_story_comment_path(story, story_comment), :remote => true do %>
            <i class="icon-edit"></i> Edit
          <% end %>&nbsp;
          <%= link_to "Delete", story_comment_path(story, story_comment), :method => :delete, :confirm => "Are you sure?", :remote => true %>
        <% end %>
      </div>
      <div id="story_comment_<%= story_comment.id %>_content" class="comment-content">
        <%= story_comment.content %>
      </div>
    </div>
  </div>
<% end %>
