<% edit_mode = false if local_assigns[:edit_mode].nil? %>
<div class="scene row-fluid" id="scene_<%= scene.id %>" <%= if scene.id then "data-id='#{scene.id}'" end %> data-position="<%= scene.position %>">
  <div class="paragraph span8 <%= paragraphs_classes(@p, scene) %>">
    <div class="paragraphs-container span11">
      <% if edit_mode %>
        <%= render :partial => "stories/paragraph_form", 
                   :locals => { :scene => scene, :scene_counter => 1 } %>
      <% else %>
        <%= render :partial => "paragraphs/paragraph", 
                   :collection => scene.ordered_paragraphs,
                   :locals => { :scene => scene } %>          
      <% end %>
    </div>
    <div class="para-navigation span1">
      <button class="disabled prev-paragraph"><i class="icon-angle-up icon-large"></i></button>
      <button class="next-paragraph"><i class="icon-angle-down icon-large"></i></button>
    </div>  
  </div>
  <% if scene.title.blank? or scene.new_record? %>
    <%= render(:partial => 'scenes/new', :locals => { :scene => scene }) %>
  <% else %>
    <% if edit_mode %>
      <%= render :partial => 'scenes/form', :locals => { :scene => scene, :buttons => false } %>
    <% else %>
      <%= render :partial => 'scenes/scene_info', :locals => { :scene => scene } %>
    <% end %>
  <% end %>
</div>

