<div class="scene-info span4">
  <div class="scene-info-inner span12">
    <i class="scene-close icon-minus"></i>
    <div class="scene-header">
      <span class="scene-header-text"><%= t 'scenes.show.header' %></span>
      <span class="label label-success pull-right">Accepting Alternatives</span>
    </div>
    <div class="scene_text">
      <h1><%= Format.markdown(scene.title) if !scene.title.nil? %></h1>
      <%= Format.markdown(scene.content) if !scene.content.nil? %>
      <% if !scene.prompt.blank? %>
      <div class="scene-prompt">
        <%= scene.prompt %>
      </div>
      <% end %>
    </div>
    <div class="main-actions">
      <div class="pull-left">
        <span class="comment-count"><%= scene.comments.length %></span> <i class="icon-comment"></i>
        &sdot; <%= link_to t('scenes.show.new_comment'), "#", :class => "comment-link" %><br />
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="scene_<%= scene.id %>_comments" class="scene-comments">
      <% cache [scene.comments, current_user, "scene-comments"] do %>
        <%= render :partial => "comments/comment", :collection => scene.comments.order('created_at ASC'), :locals => { :scene => scene } %>
      <% end %>
    </div>
    <div id="scene_<%= scene.id %>_comment_box" class="scene-comment-box">
      <%= render :partial => "comments/form", :locals => { :scene => scene, :comment => Comment.new(:scene_id => scene.id) } %>
    </div>
    <div class="link_actions pull-right">
      <%= link_to t('scenes.show.view_scene'), scene_path(scene) %>
      <% if can? :manage, scene %>
        &sdot;
        <%= link_to t('application.actions.edit'), edit_scene_path(scene), :remote => true %>
        &sdot;
        <%= link_to t('appication.actions.delete'), scene_path(scene), :method => :delete, :confirm => t('scenes.destroy.confirm'), :remote => true %>
      <% end %>
    </div>
  </div>
</div>
