<div class="scene row-fluid" id="scene_<%= scene.id %>">
  <div class="<%= paragraphs_classes(@p, scene) %>">
    <button class="btn next-paragraph"><i class="icon-caret-right"></i></button>
    <button class="btn disabled prev-paragraph"><i class="icon-caret-left"></i></button>
    <div class="paragraphs-container">
      <%= render :partial => "paragraphs/paragraph", 
                 :collection => scene.ordered_paragraphs,
                 :locals => { :scene => scene } %>          
    </div>
  </div>
  <div class="scene-info span4" id="scene_<%= scene.id %>_info">
    <%= render :partial => 'scenes/scene_info', :locals => { :scene => scene } %>
  </div>
</div>

