<% edit_mode = false if local_assigns[:edit_mode].nil? %>
<div class="scene row-fluid <%= "open" if !scene.title.blank? && !edit_mode %>" id="<%= scene_id_helper scene%>" <%= if scene.id then "data-id='#{scene.id}'" end %> data-position="<%= scene.position %>">
  <div class="paragraph span8 <%= paragraphs_classes(@p, scene) %>">
    <div class="paragraphs-container verticaltabs-container span12">
      <div class="tab-content span11">
        <% if edit_mode %>
          <%= render :partial => "paragraphs/story_edit_form", 
            :locals => { :scene => scene, :scene_counter => 1 } %>
        <% else %>
          <%= render :partial => "paragraphs/paragraph", 
                   :collection => scene.ordered_paragraphs,
                   :locals => { :scene => scene } %>          
        <% end %>
      </div>
      <ul class="nav-tabs span1">
        <% scene.paragraphs.each_with_index do |p, i| %>
          <li class="<%= "active" if i == 0 %>"><a href="#para_<%= p.id %>" data-toggle="tab">#<%= p.id %></a></li>
        <% end %>
        <li>
          <%= link_to new_scene_paragraph_path(scene), :remote => true, :class => "new-paragraph" do %>
            <i class="icon-plus"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <% if scene.title.blank? %>
    <%= render(:partial => 'scenes/new', :locals => { :scene => scene }) %>
  <% else %>
    <% if edit_mode %>
      <%= render :partial => 'scenes/form', :locals => { :scene => scene, :buttons => false } %>
    <% else %>
      <%= render :partial => 'scenes/scene_info', :locals => { :scene => scene } %>
    <% end %>
  <% end %>
</div>

