<% cache [scene, current_user, "scene-in-story"] do %>
  <div class="scene row-fluid<%= " open" if scene.open? %>" id="<%= scene_id_helper scene%>" <%= if scene.id then "data-id='#{scene.id}'" end %> data-position="<%= scene.position %>">
    <div class="paragraph span8 <%= paragraphs_classes(@p, scene) %>">
      <div class="paragraphs-container verticaltabs-container span12">
        <div class="tab-content span11">
            <%= render :partial => "paragraphs/paragraph", 
              :collection => scene.ordered_paragraphs,
             :locals => { :scene => scene } %>          
        </div>
        <ul class="nav-tabs span1 <%= "hide" if !scene.open? %>">
          <% scene.ordered_paragraphs.each_with_index do |p, i| %>
            <li class="<%= "active" if i == 0 %>"><a href="#para_<%= p.id %>" data-toggle="tab">#<%= p.id %></a></li>
          <% end %>
          <li>
          <% if can?(:create, Paragraph) %>
            <%= link_to new_scene_paragraph_path(scene), :remote => true, :class => "new-paragraph", :data => {:toggle => "tooltip"} do %>
              <i class="icon-plus"></i>
            <% end %>
          <% else %>
            <%= link_to new_scene_paragraph_path(scene), :class => "new-paragraph", :data => {:toggle => "tooltip"} do %>
              <i class="icon-plus"></i>
            <% end %>
           <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% if !scene.open? %>
      <%= render(:partial => 'scenes/new', :locals => { :scene => scene }) %>
    <% else %>
      <%= render :partial => 'scenes/scene_info', :locals => { :scene => scene } %>
    <% end %>
  </div>
<% end %>
