<div class="scene-info span4">
  <div class="scene-info-inner span12">
    <div class="scene_text">
      <h1><%= Format.markdown(scene.title) if !scene.title.nil? %></h1>
      <%= Format.markdown(scene.content) %>
    </div>
    <div class="main-actions">
      <div class="pull-left">
        <%= scene.comments.length %> <i class="icon-comment"></i> &sdot; <%= link_to "Comment", "#", :class => "comment-link" %><br />
      </div>
      <div class="pull-right">
        <span class="para-count"><%= pluralize(scene.paragraphs.length, "collab") %></span> &sdot; 
        <%= link_to "Add a collab", new_scene_paragraph_path(scene), :remote => true, :class => "new-paragraph" %>
        <span class="expand-paragraphs <%= "hide" if scene.paragraphs.length <= 1 %>">
          &sdot; 
          <%= link_to "See all", "#" %>
        </span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="scene_<%= scene.id %>_comments" class="scene-comments">
      <%= render :partial => "comments/comment", :collection => scene.comments.order('created_at ASC'), :locals => { :scene => scene } %>
    </div>
    <div id="scene_<%= scene.id %>_comment_box" class="scene-comment-box">
      <%= render :partial => "comments/form", :locals => { :scene => scene, :comment => Comment.new } %>
    </div>
    <div class="link_actions pull-right">
      <%= link_to "Edit", edit_scene_path(scene), :remote => true %>
      &sdot;
      <%= link_to "Delete", scene_path(scene), :method => :delete, :confirm => "Are you sure?", :remote => true %>
    </div>
  </div>
</div>
