<div class="scene-info span4">
  <div class="scene-info-inner span12">
    <div class="scene-header">
      <span class="scene-header-text">Scene</span>
      <span class="label label-success pull-right">Accepting Alternatives</span>
    </div>
    <div class="scene_text">
      <h1><%= Format.markdown(scene.title) if !scene.title.nil? %></h1>
      <%= Format.markdown(scene.content) if !scene.content.nil? %>
      <% if !scene.prompt.nil? %>
      <div class="scene-prompt">
        <div class="prompt-header">Prompt</div>
        <%= Format.markdown(scene.prompt) %>
      </div>
      <% end %>
    </div>
    <div class="main-actions">
      <div class="pull-left">
        <span class="comment-count"><%= scene.comments.length %></span> <i class="icon-comment"></i>
        &sdot; <%= link_to "Comment", "#", :class => "comment-link" %><br />
      </div>
    </div>
    <div class="clearfix"></div>
    <div id="scene_<%= scene.id %>_comments" class="scene-comments">
      <%= render :partial => "comments/comment", :collection => scene.comments.order('created_at ASC'), :locals => { :scene => scene } %>
    </div>
    <div id="scene_<%= scene.id %>_comment_box" class="scene-comment-box">
      <%= render :partial => "comments/form", :locals => { :scene => scene, :comment => Comment.new } %>
    </div>
    <% if can? :manage, scene %>
      <div class="link_actions pull-right">
        <%= link_to "Edit", edit_scene_path(scene), :remote => true %>
        &sdot;
        <%= link_to "Delete", scene_path(scene), :method => :delete, :confirm => "Are you sure?", :remote => true %>
      </div>
    <% end %>
  </div>
</div>
