<div class="scene">
  <div class="navbar navbar-inverse navbar-magic">
    <div class="navbar-inner">
      <ul class="nav">
        <li>
          <%= link_to story_path(@scene.story) do %>
            <i class="icon-angle-left"></i> Back to the story
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="scene-info">
  <h1><%= @scene.title %></h1>
    <p class="scene-content">
      <%= @scene.content %>
    </p>
    <p class="scene-prompt">
      <%= @scene.prompt %>
    </p>
  </div>

  <div class="row-fluid">
    <div class="paragraph span8">
      <div class="paragraphs-container span12">
        <%= render :partial => "paragraphs/paragraph",
          :collection => @scene.ordered_paragraphs,
          :locals => { 
            :scene => @scene, :show_title => true } %>
      </div>
    </div>
    <div class="paragraphs-nav span4">
      <h1><%= @scene.paragraphs.count %> Drafts</h1>
      <ul>
        <% @scene.ordered_paragraphs.each_with_index do |p, i| %>
          <li id="para-nav-<%= p.id %>" class="<%= "active" if i == 0 %> span6">
          <%= link_to scene_change_paragraph_path(@scene, p), :remote => true do %>
            <span class="preview">
              <%= truncate(p.content, :length => 45) %>
            </span>
            <span>
              <span class="like-count">
                <i class="icon-heart"></i>
                <span id="para_<%= p.id %>_like_count">
                  <%= p.likes.size %>
                </span>
              </span>

              <span class="winner <%= "hide" if !p.is_winner? %>">
                <i class="icon-trophy" rel="tooltip"></i>
              </span>

              <% if p.user %>
                <span class="paragraph-author pull-right">
                  By <strong><%= p.user.name %></strong>
                </span>
              <% end %>
            </span>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
