<div class="preferences row-fluid">
  <%= render 'users/left_nav' %>

  <div class="preferences-content span9">
    <h1><%= t('users.preferences.change_password.change_password') %></h1>
    
    <div class="preferences-inner">
      <%= form_for(@user, :url => { :action => "update_password" }, :html => { :class => "form-horizontal" } ) do |f| %>
        <div class="control-group">
          <label class="control-label" for="current_password">
            <%= f.label :current_password, t('users.preferences.change_password.current_password') %> 
          </label>
          <div class="controls">
            <%= f.password_field :current_password %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password">
            <%= f.label :password, t('users.preferences.change_password.password') %>
          </label>
          <div class="controls">
            <%= f.password_field :password, :autocomplete => "off"  %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="password_confirmation">
            <%= f.label :password_confirmation, t('users.preferences.change_password.password_confirmation') %>
          </label>
          <div class="controls">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit t('users.preferences.change_password.change_password'), :class => "btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
