<div class="preferences row-fluid">
  <%= render 'users/left_nav' %>

  <div class="preferences-content span9">
    <h1><%= t 'users.preferences.notifications.email_notifications' %></h1>
    
    <div class="preferences-inner">
      <%= form_for current_user, :url => { :action => "preferences" }, :html => {:class => 'email-prefs-form'} do |f| %>
      <div class="general-emails">
        <%= t 'users.preferences.notifications.overall' %>
        <label class="checkbox">
          <%= check_box_tag "email[added_as_contributor]", 1, current_user.settings['email.added_as_contributor'] %>
          <%= t 'users.preferences.notifications.added_as_contributor' %>
        </label>
      </div>
      <br />
      <div class="mod-emails">
        <%= t 'users.preferences.notifications.moderating' %>
        <label class="checkbox">
          <%= check_box_tag "email[mod.comment_notification]", 1, current_user.settings['email.mod.comment_notification'] %> 
          <%= t 'users.preferences.notifications.moderating_comment' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.paragraph_notification]", 1, current_user.settings['email.mod.paragraph_notification'] %>
          <%= t 'users.preferences.notifications.moderating_new_para' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.update_paragraph_notification]", 1, current_user.settings['email.mod.update_paragraph_notification'] %>
          <%= t 'users.preferences.notifications.moderating_edit_para' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.like_notification]", 1, current_user.settings['email.mod.like_notification'] %>
          <%= t 'users.preferences.notifications.moderating_likes_para' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.winner_notification]", 1, current_user.settings['email.mod.winner_notification'] %>
          <%= t 'users.preferences.notifications.moderating_winner' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.story_flagged]", 1, current_user.settings['email.mod.story_flagged'] %>
          <%= t 'users.preferences.notifications.moderating_flagged' %>
        </label>
      </div>
      <br />
      <div class="participant-emails">
        <%= t 'users.preferences.notifications.participating' %>
        <label class="checkbox">
          <%= check_box_tag "email[comment_notification]", 1, current_user.settings['email.comment_notification'] %> 
          <%= t 'users.preferences.notifications.participating_reply' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[comment_para_notification]", 1, current_user.settings['email.comment_para_notification'] %> 
          <%= t 'users.preferences.notifications.participating_comments' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_paragraph_notification]", 1, current_user.settings['email.update_paragraph_notification'] %>
          <%= t 'users.preferences.notifications.participating_edit' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[paragraph_notification]", 1, current_user.settings['email.paragraph_notification'] %>
          <%= t 'users.preferences.notifications.participating_writes' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_scene_notification]", 1, current_user.settings['email.update_scene_notification'] %>
          <%= t 'users.preferences.notifications.participating_edits_scene' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_scene_para_notification]", 1, current_user.settings['email.update_scene_para_notification'] %>
          <%= t 'users.preferences.notifications.participating_edits_scene_para' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[like_notification]", 1, current_user.settings['email.like_notification'] %>
          <%= t 'users.preferences.notifications.participating_likes' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[winner_notification]", 1, current_user.settings['email.winner_notification'] %>
          <%= t 'users.preferences.notifications.participating_winner' %>
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[forum_notification]", 1, current_user.settings['email.forum_notification'] %>
          <%= t 'users.preferences.notifications.participating_post' %>
        </label>
       </div>
       <br />
       <%= f.submit "Save Preferences", :class => "btn" %>
      <% end %>
    </div>
  </div>
</div>
