<div class="preferences row-fluid">
  <%= render 'users/left_nav' %>

  <div class="preferences-content span9">
    <h1>Email Notifications</h1>
    
    <div class="preferences-inner">
      <%= form_for current_user, :url => { :action => "preferences" }, :html => {:class => 'email-prefs-form'} do |f| %>
      <div class="general-emails">
        <strong>Overall,</strong> receive emails when:
        <label class="checkbox">
          <%= check_box_tag "email[added_as_contributor]", 1, current_user.settings['email.added_as_contributor'] %>
          I'm added as a contributor, co-writer, or moderator to a story
        </label>
      </div>
      <br />
      <div class="mod-emails">
        <strong>For stories I'm moderating,</strong> receive emails when:
        <label class="checkbox">
          <%= check_box_tag "email[mod.comment_notification]", 1, current_user.settings['email.mod.comment_notification'] %> 
          Someone makes a comment
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.paragraph_notification]", 1, current_user.settings['email.mod.paragraph_notification'] %>
          Someone contributes a paragraph
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.update_paragraph_notification]", 1, current_user.settings['email.mod.update_paragraph_notification'] %>
          Someone edits a paragraph
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.like_notification]", 1, current_user.settings['email.mod.like_notification'] %>
          Someone likes a paragraph
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.winner_notification]", 1, current_user.settings['email.mod.winner_notification'] %>
          Someone crowns a paragraph as a winner
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[mod.story_flagged]", 1, current_user.settings['email.mod.story_flagged'] %>
          My story is flagged by an admin
        </label>
      </div>
      <br />
      <div class="participant-emails">
        <strong>For stories I'm participating in,</strong> receive emails when:
        <label class="checkbox">
          <%= check_box_tag "email[comment_notification]", 1, current_user.settings['email.comment_notification'] %> 
          Someone replies to my comment
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[comment_para_notification]", 1, current_user.settings['email.comment_para_notification'] %> 
          Someone comments on a scene you wrote a paragraph for
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_paragraph_notification]", 1, current_user.settings['email.update_paragraph_notification'] %>
          Someone makes edits to a paragraph you wrote
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[paragraph_notification]", 1, current_user.settings['email.paragraph_notification'] %>
          Someone writes a paragraph for a scene you commented on
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_scene_notification]", 1, current_user.settings['email.update_scene_notification'] %>
          Someone makes edits to a scene you commented on
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[update_scene_para_notification]", 1, current_user.settings['email.update_scene_para_notification'] %>
          Someone makes edits to a scene you wrote a paragraph for
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[like_notification]", 1, current_user.settings['email.like_notification'] %>
          Someone likes a paragraph you wrote
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[winner_notification]", 1, current_user.settings['email.winner_notification'] %>
          A paragraph you wrote is crowned a winner
        </label>
        <label class="checkbox">
          <%= check_box_tag "email[forum_notification]", 1, current_user.settings['email.forum_notification'] %>
          Someone makes a post in the discussion forum
        </label>
       </div>
       <br />
       <%= f.submit "Save Preferences", :class => "btn" %>
      <% end %>
    </div>
  </div>
</div>
