<div class="flexslider">
  <ul class="slides">
    <li>
    <%= image_tag "main-slideshow/regular.png" %>
    <p class="flex-caption">
      <%= t 'home.hero.summary1' %>
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/write.png" %>
    <p class="flex-caption">
      <%= t 'home.hero.summary2' %>
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/alternative.png" %>
    <p class="flex-caption">
      <%= t 'home.hero.summary3' %>
    </p>
    </li>
    <li>
    <%= image_tag "main-slideshow/comment.png" %>
    <p class="flex-caption">
      <%= t 'home.hero.summary4' %>
    </p>
    </li>
  </ul>
</div>

