<% if StoryCollab::Application.config.story_slam %>
  <div class="alert alert-info">
    The <strong><%= link_to "Stanford Story Slam", storyslam_path %></strong> has begun! 
    Write your story using Ensemble and <%= link_to "enter your story", storyslam_path %> by April 22, 2013 to win cash and get published!
  </div>
<% end %>

<% if StoryCollab::Application.config.arrowhead %>
  <div class="alert alert-info">
    The <strong><%= link_to "Arrowhead Story", arrowhead_path %></strong> is currently underway!
  </div>
<% end %>

<div class="home row-fluid">
  <div class="hero-unit span12">
    <div class="screenshots span5">
      <%= render :partial => "home/slideshow" %>
    </div>
    <div class="home-message span7">
      <div>
        <h1>Collaboratively write stories</h1>
        <p class="lead">Ensemble is a platform for massive participatory story writing.</p>
        <p>
        <%= link_to current_stories_path, :class => "btn btn-large" do %>
          Demo Story
        <% end %>
        <%= link_to new_story_path, :class => "btn btn-primary btn-large" do %>
          Start Writing
          <i class="icon-chevron-right"></i>
        <% end %>
        </p>
      </div>
    </div>
  </div>

  <div class="stories-preview">
    <h2>Recent Stories</h2>
    <% cache @stories do %>
      <%= render :partial => 'home/story_preview', :collection => @stories, :as => :story %>
    <% end %>
  </div>
</div>
