<div class="story-slam-banner-wrapper">
  <div class="story-slam-banner">
    <div class="banner-content">
      <h1>Arrowhead</h1>
      <p class="lead">
      Mystery surrounds a young man who is accidentally shot in the head with an arrow.
      </p>
      <p>
        <strong>Arrowhead</strong> is a collaborative story being written by Stanford University Jones Lecturer <a href="http://creativewriting.stanford.edu/people/tom-kealey">Tom Kealey</a>, founder of NaNoWriMo <a href="http://www.chrisbaty.com/">Chris Baty</a>, and <strong>you!</strong>
      </p>
      <p>
        A new chapter will be written every day from October 15th through October 30th -- so jump in and contribute now!
      </p>
      <%= link_to story_path(@stories.last), :class => "btn btn-primary" do %>
        Contribute to the latest chapter <i class="icon-angle-right"></i>
      <% end %>
    </div>  
    <p class="photo-credit">
      Illustrated by 
      <%= link_to 'Sara Sisun', "http://www.sarasisun.com/" %>
    </p>
    <%= image_tag "arrowhead_banner.png" %>
  </div>  
</div>

<div style="text-align:center">
<div class="fb-like-box" data-href="http://www.facebook.com/arrowheadstory" data-width="960" data-height="200" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="true" data-show-border="false"></div>
</div>

<h2>Table of Contents</h2>
<table class="table">
  <% cache [@stories, "arrowhead-table-of-contents"] do %>
    <% @stories.each do |story| %>
      <% cache [story, "arrowhead-story-listing"] do %>
        <tr class="my-story">
          <td>
            <h3><%= link_to story.title, story %></h3>
            <%= story.subtitle %>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
