<div class="story-slam-banner-wrapper">
  <div class="story-slam-banner">
    <div class="banner-content">
      <h1>Stanford Story Slam 2013</h1>
      <p class="lead">
      Win $500 and help pioneer collaborative story making on the web.
      </p>
      <p>
      Submissions are now open for the very first Stanford Story Slam! Use Ensemble to write and submit a collaborative story. The winning submission will be published in the <%= link_to "Stanford Arts Review", "http://stanfordartsreview.tumblr.com/" %>, win $500, and hold the distinction of helping pioneer collaborative story making on the web.
      </p>
      <%= link_to "http://ensemble.boards.net/", :class => "btn" do %>
        Find a team
      <% end %>
      <%= link_to new_story_path, :class => "btn btn-primary" do %>
        Start writing your entry
        <i class="icon-angle-right"></i>
      <% end %>
    </div>  
    <p class="photo-credit">
      Photo credit: 
      <%= link_to '"Pen and Paper" by athena on Flickr', "http://www.flickr.com/photos/athena/325752626/" %>
    </p>
    <%= image_tag "story_slam_banner.jpg" %>
  </div>  
</div>

<ul class="nav nav-tabs storyslam-tabs">
  <li class="active"><a href="#rules" data-toggle="tab">Story Requirements</a></li>
  <li><a href="#prizes" data-toggle="tab">Prizes</a></li>
  <li><a href="#submit" data-toggle="tab">Submit Your Story</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="rules">
    <h2>Story Requirements</h2>
    <p>
    With a team, <strong>use Ensemble</strong> to write and submit a single short story that uses the following prompt as inspiration:
    </p>
    <p class="prompt">
      There are over 15,000 bikes used by students, staff, and faculty to get around Stanford campus. Over 300 bikes are stolen each year. Where do they go?
    </p>
    <p>
      Feel free to interpret this prompt extremely broadly and in unexpected ways -- this is merely to help you kickstart your brainstorming. You can write in any safe-for-work genre you like.
    </p>
    <ul>
      <li>The story must be written and submitted <strong>through the Ensemble system.</strong> For example, you can't write the story in Google Docs and then copy-paste it into Ensemble.</li>
      <li>The story must be no more than 1000 words. A reader should be able to read the story in one sitting.</li>
      <li>The story must be original, unpublished, and not have been entered in any previous competition or contest.</li>
    </ul>

    <strong>Examples</strong>
    <p>
    Here are some example in-progress stories on Ensemble: 
    <%= link_to "The Hot Air Balloon", "http://ensemble.stanford.edu/stories/5" %> and <%= link_to "The Story Spirits", "http://ensemble.stanford.edu/stories/2" %>
    </p>

    <strong>Eligibility</strong>
    <p>
      Anyone is eligible to enter stories into the Story Slam, not just Stanford students!
    </p>

    <strong>Collaboration</strong>
    <p>
      All stories must show evidence that it is the result of collaboration. Stories should be created by a story leader, but written and/or brainstormed over by a team.
    </p>
    <p>
    When a team submits a story, <strong>the story leader needs to specify the people that are considered part of the team for the story.</strong> To do that, the story leader should go to the story and click the "Contributors" button on the story menu bar to add or remove authors that are contributing to the story. We will use this information to notify team members if the team's story wins. 
    </p>

    <strong>Deadline & Submission</strong>
    <p>
    All submissions must be submitted through Ensemble by the story leader by <strong>11:59pm, April 22, 2013, Pacific Standard Time.</strong> To submit your team's story, click the Submit Your Story tab above. Again, the story must have been written and submitted through Ensemble.
    </p>

    <strong>Copyright</strong>
    <p>
    By submitting work to this contest, the collaborating authors allow the Stanford Story Slam and the Stanford Arts Review to publish this work online. The collaborating authors will be given full credit. Besides this, the authors will retain all future copyright and publishing rights.
    </p>
  </div>
  <div class="tab-pane" id="prizes">
    <h2>Prizes</h2>
    <p>
    The winning collaboration will receive $500 (to be split amongst the collaborators, according to the Contributors list in the story, in the form of Amazon.com gift cards) and publication in the <%= link_to "Stanford Arts Review", "http://stanfordartsreview.tumblr.com" %>.
    </p>

    <strong>Judges</strong>
    <p>
    The judges of the competition will include the <%= link_to "Stanford Story Slam staff", about_path %> and Stanford creative writing professors and students that run the <%= link_to "Stanford Arts Review", "http://stanfordartsreview.tumblr.com" %>.
    </p>
  </div>
  <div class="tab-pane" id="submit">
    <h2>Submit Your Story</h2>
    <p>
      Select a story from the drop down list to preview it before submitting.
    </p>
    <p>
      Only the story leader (the starter of the story) can submit a story into the competition. You can submit the same story as many times as you like up until the deadline -- only the latest submission will be considered.
    </p>
    <% if Date.parse('2013-04-22') < Date.today %>
      <strong>
        The Story Slam deadline has passed, and submissions are now closed.
      </strong>
    <% elsif current_user.nil? || current_user.stories.length == 0 %>
      <strong>
        You don't yet have any stories to submit. <%= link_to "Go start one.", new_story_path %>
      </strong>
    <% else %>
      <%= form_tag(preview_submit_stories_path) do %>
        <%= select_tag "submission", options_from_collection_for_select(current_user.stories, "id", "title"),
                     :class => 'input-xxlarge' %>
        <br />
        <%= submit_tag "Preview Submission", :class => 'btn btn-primary' %>
      <% end %>
    <% end %>
    <h3>Your Submissions</h3>
    <% submissions = Submission.find(:all, :conditions => {:user_id => current_user}) %>
    <% if submissions.length == 0 %>
      You haven't submitted any stories yet.
    <% else %>
    <table class="table submissions-table">
      <tr>
        <th>Story</th>
        <th>Time Submitted</th>
        <th></th>
        <th></th>
      </tr>
      <% submissions.each do |s| %>
      <tr id="submission_<%= s.id %>">
        <td><%= s.title %></td>
        <td><%= s.created_at %></td>
        <td><%= link_to "View", submission_path(s) %></td>
        <td><%= link_to "Delete", submission_path(s), :method => :delete, :confirm => "Are you sure you want to delete this submission? This cannot be undone.", :remote => true %></td>
      </tr>
      <% end %>
    </table>
    <% end %>
  </div>
</div>
