<h1>Featured Stories</h1>
<p class="lead">
  Ensemble has been the home of a number of writing events and special stories. Stay tuned for more writing projects!
</p>

<table class="table table-bordered featured-story">
  <tr>
    <td>
      <%= image_tag "arrowhead_banner.png" %>
    </td>
    <td>
      <h2><%= link_to "Arrowhead", arrowhead_path %></h2>
      <p>
        Tom Kealey (Stanford University Jones Lecturer) and Chris Baty (founder of NaNoWriMo) teamed up with people from all over the internet to write a collaborative mystery about a young man who was shot in the head with an arrow -- and survived.
      </p>
      <small>
        Image credit: <%= link_to "Sara Sisun", "http://www.sarasisun.com/" %>
      </small>
    </td>
  </tr>
</table>

<table class="table table-bordered featured-story">
  <tr>
    <td>
      <%= image_tag "story_slam_banner.jpg" %>
    </td>
    <td>
      <h2><%= link_to "Stanford Story Slam 2013", storyslam_path %></h2>
      <p>
      In April 2013, people joined friends and strangers in teams to write collaborative short stories in a writing competition.
      </p>
      <p>
      <small>
        Image credit: <%= link_to '"Pen and Paper" by athena on Flickr', "http://www.flickr.com/photos/athena/325752626/" %>
      </small>
      </p>
    </td>
  </tr>
</table>
