<div id="contributors_modal" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t 'story_roles.index.title' %></h3>
    <% if can?(:manage, @story) %>
      <p>
      <%= t 'story_roles.index.description' %>
      </p>
      <ul>
        <li><strong><%= t 'story_roles.index.contributors' %></strong> - <%= t 'story_roles.index.contributors_desc' %></li>
        <li><strong><%= t 'story_roles.index.cowriters' %></strong> - <%= t 'story_roles.index.cowriters_desc' %></li>
        <li><strong><%= t 'story_roles.index.moderators' %></strong> - <%= t 'story_roles.index.moderators_desc' %></li>
      </ul>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="index-roles">
      <%= render 'index_roles' %>
    </div>
    <hr />
    <%= render 'index_roles_form' %>
  </div>
<!--   <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
  </div> -->
</div>
