<table class="table table-condensed table-striped">
  <tr>
    <td><%= @story.user.name %></td>
    <td><span class="label label-success">Story Owner</span></td>
    <td></td>
  </tr>
  <% @story.story_roles.each do |story_role| %>
    <tr>
      <td><%= story_role.user.name %></td>
      <td>
        <span class="label <%= "label-info" if story_role.role == "moderator" %>">
          <%= story_role.role.capitalize if story_role.role %>
        </span>
      </td>
      <td>
        <%= link_to [@story, story_role], method: :delete, remote: true, :data => { :confirm => "Really remove this user?" } do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<hr />
<%= form_for [@story, @story_role], :remote => true, :html => { :class => "form-inline" } do |f| %>
  <%= f.collection_select 'user_id', User.all - [current_user], :id, :name, {:prompt => "Add a contributor?", :disabled => lambda{|user| @story.contributors.include? user }} %>
  <select id="story_role_role" name="story_role[role]">
    <option value>Pick a role</option>
    <option value="contributor">Contributor</option>
    <option value="moderator">Moderator</option>
  </select>
  <%= f.submit 'Add', :class => 'btn btn-primary' %>
<% end %>
