<div id="flag_modal" class="modal fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><%= t 'stories.flag.title' %></h3>
  </div>
  <div class="modal-body">
    <% if @story.flagged? %>
      <p>
      <%= t 'stories.flag.flag_notice', reason: @story.flags.first.reason %>
      </p>
      <%= form_tag unflag_story_path(@story) do %>
        <%= submit_tag t('stories.flag.unflag'), :class => "btn" %>
      <% end %>
    <% else %>
      <% if can?(:flag, @story) %>
        <%= form_tag flag_story_path(@story) do %>
          <p>
          <%= t 'stories.flag.prompt' %>
          </p>
          <label class="radio">
            <%= radio_button_tag(:reason, :inappropriate) %>
            <%= t 'stories.flag.inappropriate' %>
          </label>
          <label class="radio">
            <%= radio_button_tag(:reason, :not_story) %>
            <%= t 'stories.flag.not_story' %>
          </label>
          <%= submit_tag t('stories.flag.flag'), :class => "btn" %>
        <% end %>
      <% else %>
        <%= t 'stories.flag.permissions' %>
      <% end %>
    <% end %>
  </div>
</div>
