<div class="story-form">
<%= form_for(@story, :remote => true) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, :placeholder => 'Title', :class => 'largely' %><br />
    <%= f.text_field :subtitle, :placeholder => 'Subtitle' %>
    <%= f.hidden_field :content %> 

    <div class="actions pull-right">
      <div class="text-error"></div>
      <%= f.submit "Publish", :class => "btn" %>
      <% if !current_page? new_story_path %>
        <%= link_to "Cancel", cancel_edit_story_path(@story), 
                  :class => "btn cancel-story", :remote => true %>
      <% end %>
    </div>
  </div>

  <%= render 'nav' %>
  <%= render :partial => 'stories/toolbar' %>
<% end %>

<%= render :partial => 'paragraphs' %>

</div>
