<div class="story-form">
<%= form_for(@story, :remote => true) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="alert alert-info pull-right">
      <strong>Tip:</strong> While editing the story text, you can press Enter 3 times to create a new scene.
    </div>
    
    <%= f.text_field :title, :placeholder => 'Title', :class => 'largely' %><br />
    <%= f.text_field :subtitle, :placeholder => 'Summary' %><br />
    Genre 1: <%= collection_select(:story, :genre1, Genre.all, :id, :name, :prompt => true) %>
    Genre 2: <%= collection_select(:story, :genre2, Genre.all, :id, :name, :prompt => true) %>
    
    <%= f.hidden_field :content %> 

    <div class="actions pull-right">
      <div class="text-error"></div>
      <%= f.submit "Publish", :class => "btn" %>
      <% if !current_page? new_story_path %>
        <%= link_to "Cancel", cancel_edit_story_path(@story), 
                  :class => "btn cancel-story", :remote => true %>
      <% end %>
    </div>
  </div>

  <% if !current_page?(new_story_path) %>
    <%= render 'stories/nav' %>
  <% end %>
  <%= render :partial => 'stories/toolbar' %>
<% end %>

<%= render :partial => 'paragraphs' %>

</div>
