<div class="story-header">
  <% if @story_slam_preview %>
  <div class="alert alert-block">
    <h4>Your story has not yet been submitted.</h4>
    Below is how your story will appear to judges. Make sure to read it over and make sure
    that it follows competition requirements. When you're ready, press submit to submit your story.
    <br />
    <%= link_to "Submit Story", storyslam_submit_story_path(@story), :method => :post, :class => "btn btn-primary" %>
  </div>
  <% end %>
  
  <h1>
    <%= @story.title %>
  </h1>

  <p class="subtitle">
    <%= @story.subtitle %>
  </p>

  <div class="meta">
    <div class="genres">
      <%= "Genre: #{print_genres(@story)}" if !print_genres(@story).nil? %>
    </div>
    <div class="word-count">
      <%= pluralize(@story.word_count, "words") %>
    </div>
    <div class="author">
      Started by <%= link_to @story.user.name, "#" %>
      <span class="timestamp">
        <%= time_ago_in_words(@story.created_at) %> ago
      </span>
    </div>
  </div>
</div>
<%= render :partial => "stories/nav" %>
