<div class="navbar navbar-inverse navbar-magic">
  <div class="navbar-inner">
    <ul class="nav">
      <li class="<%= 'active' if current_page?(story_path(@story)) || current_page?(current_stories_path) %>">
        <%= link_to 'Story', story_path(@story) %>
      </li>
      <li class="<%= 'active' if current_page?(story_posts_path(@story)) %>">
        <%= link_to 'Discussion', story_posts_path(@story) %>
      </li>
      <li class="<%= 'active' if current_page?(history_story_path(@story)) %>">
        <%= link_to 'Activity', history_story_path(@story) %>
      </li>
    </ul>
    <% if can? :edit, @story %>
    <ul class="nav pull-right">
      <li>
        <%= link_to story_story_roles_path(@story), :remote => true do %>
          <i class="icon-user"></i> Contributors (<span id="contributor_count"><%= @story.contributors.count %></span>)
        <% end %>
      </li>
      <li>
        <%= link_to edit_story_path(@story), :remote => true do %>
          <i class="icon-pencil"></i> Edit
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>
</div>
