<% 
  # Local variables used by this partial
  preview ||= false
%>

<% cache [@story, current_user] do %>
  <div class="content">
    <%= render :partial => 'scenes/scene', :collection => @story.scenes %>
    <div class="edit-background span8">
      <div class="span8 row-fluid">
        <div class="edit-background-inner span11">
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if StoryCollab::Application.config.arrowhead && Arrowhead.is_arrowhead_story?(@story) %>
    <div class="arrowhead-nav" style="clear:both">
      <% if @prev %>
        <% @prev_story = @arrowhead_stories[@prev] %>
        <div class="pull-left">
          <%= link_to story_path(@prev_story) do %>
            &lt; <%= @prev_story.title %> 
          <% end %>
        </div>
      <% end %>

      <% if @next %>
        <% @next_story = @arrowhead_stories[@next] %>
        <div class="pull-right">
          <%= link_to story_path(@next_story) do %>
            <%= @next_story.title %> &gt;
          <% end %>
        </div>
      <% end %>
    </div>
    <hr />
    <div id="story_<%= @story.id %>_comments" class="story-comments">
      <% cache [@story, @story.comments, current_user, "story-comments"] do %>
        <% if @story.comments.length == 0 %>
          No comments yet.
        <% else %>
          <div class="comment-count">
            <%= pluralize @story.comments.length, "comment" %>
          </div>
        <% end %>
        <%= render :partial => "comments/story_comment", :collection => @story.comments.order('created_at ASC'), :locals => { :story => @story } %>
      </div>
      <div id="story_<%= @story.id %>_comment_box" class="story-comment-box">
        <%= render :partial => "comments/story_form", :locals => { :story => @story, :story_comment => Comment.new } %>
      </div>
    <% end %>
<% end %>
