<% 
  # Local variables used by this partial
  preview ||= false
%>

<div class="story"> 
  <h1>
    <%= @story.title %>
  </h1>

  <p class="subtitle">
    <%= @story.subtitle %>
  </p>

  <div class="meta">
    <div class="author">
      Started by <%= link_to @story.user.name, "#" %>
      <% if !preview %>
        <span class="timestamp">
          <%= time_ago_in_words(@story.created_at) %> ago
        </span>
      <% end %>
    </div>
  </div>

  <div class="editing">
    <% if !preview %>
      <%= link_to edit_story_path(@story), :class => "btn" do %>
      <i class="icon-edit"></i> Edit Story
      <% end %>
      <!--<%= link_to content_tag(:i, "", :class => "icon-plus-sign") + " New Question", "#", :class => "btn" %>-->
    <% end %>
  </div>

  <div class="content">
    <% @story.scenes.each do |scene| %>
      <% classes = "paragraph row-fluid" %>
      <% classes += " multiple" if scene.paragraphs.length > 1 %>
      <% classes += " unwritten" if scene.paragraphs.length < 1 %>
      <div class="<%= classes %>">
        <div class="span7">
          <% if scene.paragraphs.length == 0 %>
            This part hasn't been written yet.
          <% elsif scene.paragraphs.length == 1 %>
            <%= Format.markdown(scene.paragraphs.first.content) %> 
          <% else %>
            <button class="btn next-paragraph"><i class="icon-caret-right"></i></button>
            <button class="btn disabled prev-paragraph"><i class="icon-caret-left"></i></button>
            <% scene.paragraphs.each_with_index do |p, i| %>
              <div class="paragraph-inner <%= "hide" if i != 0 %>">
                <%= Format.markdown(p.content) %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="span1">
          10 <i class="icon-heart"></i>
        </div>
        <div class="span4">
          <%= Format.markdown(scene.content) %>
          <a class="btn btn-mini"><i class="icon-comment"></i> Respond</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- <div class="storybar">
  <%= render 'question' %>
</div> -->
