<% 
  # Local variables used by this partial
  preview ||= false
%>

<div class="story"> 
  <h1>
    <%= @story.title %>
  </h1>

  <p class="subtitle">
    <%= @story.subtitle %>
  </p>

  <p class="meta">
    <span class="author">
      started by <%= link_to @story.user.name, "#" %>
    </span>
    <% if !preview %>
      <span class="timestamp">
        <%= time_ago_in_words(@story.created_at) %> ago
      </span>
    <% end %>
  </p>

  <div class="content">
    <%= @story.content %>
  </div>
</div>

<div class="storybar">
  <% if !preview %>
    <%= link_to 'Edit Story', edit_story_path(@story), :class => "btn" %>
    <%= link_to content_tag(:i, "", :class => "icon-plus-sign") + " New Question", "#", :class => "btn" %>
  <% end %>

  <%= render 'question' %>
</div>
