<% 
  # Local variables used by this partial
  preview ||= false
%>

<div class="story"> 
  <h1>
    <%= @story.title %>
  </h1>

  <p class="subtitle">
    <%= @story.subtitle %>
  </p>

  <div class="meta">
    <div class="author">
      Started by <%= link_to @story.user.name, "#" %>
      <% if !preview %>
        <span class="timestamp">
          <%= time_ago_in_words(@story.created_at) %> ago
        </span>
      <% end %>
    </div>
  </div>

  <div class="editing">
    <% if !preview %>
      <%= link_to edit_story_path(@story), :class => "btn" do %>
      <i class="icon-edit"></i> Edit Story
      <% end %>
      <!--<%= link_to content_tag(:i, "", :class => "icon-plus-sign") + " New Question", "#", :class => "btn" %>-->
    <% end %>
  </div>

  <div class="content">
    <% @story.parse_story.each do |para| %>
    <div class="paragraph row-fluid">
      <div class="span7">
        <%= render :partial => 'story_para', :locals => { :para => para[:para] } %>
      </div>
      <div class="span1">
        <span id="para_<%= para[:para].id %>_like_count"><%= para[:para].likes.size %></span> / <span id="scene_<%= para[:scene].id %>_like_count"><%= para[:scene].likes.size %></span> <i class="icon-heart"></i>
      </div>
      <div id="scene_<%= para[:scene].id %>_box" class="span4">        
        <%= render :partial => 'story_scene', :locals => { :scene => para[:scene] } %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- <div class="storybar">
  <%= render 'question' %>
</div> -->
