<% 
  # Local variables used by this partial
  preview ||= false
%>

<div class="story"> 
  <div class="story-header">
    <h1>
      <%= @story.title %>
    </h1>

    <p class="subtitle">
      <%= @story.subtitle %>
    </p>

    <div class="meta">
      <div class="author">
        Started by <%= link_to @story.user.name, "#" %>
        <% if !preview %>
          <span class="timestamp">
            <%= time_ago_in_words(@story.created_at) %> ago
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="navbar navbar-inverse navbar-magic">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active">
          <a href="#">Story</a>
        </li>
        <li><%= link_to 'Discussion', story_posts_path(@story) %></li>
      </ul>
      <% if can? :edit, @story %>
      <ul class="nav pull-right">
        <li>
          <%= link_to story_story_roles_path(@story), :remote => true do %>
            <i class="icon-user"></i> Contributors (<span id="contributor_count"><%= @story.contributors.count %></span>)
          <% end %>
        </li>
        <li>
          <%= link_to edit_story_path(@story), :remote => true do %>
            <i class="icon-pencil"></i> Edit
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>

  <div class="content">
    <%= render :partial => 'scenes/scene', :collection => @story.scenes %>
    <div class="edit-background span8">
      <div class="span8 row-fluid">
        <div class="edit-background-inner span11"></div>
      </div>
    </div>
  </div>
</div>
