<div class="story">
  <% if params[:preview] %>
  <div class="alert alert-info">
    <%= link_to content_tag(:i, "", :class => "icon-chevron-left") + " Back to Editing", 
                edit_story_path(@story), :class => "btn btn-small" %> 
    Your story has not been published yet. You are viewing a <strong>preview</strong> of your story.
  </div>
  <% end %>
  
  <h1>
    <%= @story.title %>
  </h1>

  <p class="subtitle">
    <%= @story.subtitle %>
  </p>

  <p class="meta">
    <span class="author">
      started by <%= link_to @story.user.name, "#" %>
    </span>
    <span class="timestamp">
      <%= time_ago_in_words(@story.created_at) %> ago
    </span>    
  </p>

  <div class="content">
    <%= params[:preview] ? @story.draft_or_story_text : @story.story_text %>
  </div>
</div>

<div class="storybar">
  <%= link_to 'Edit Story', edit_story_path(@story), :class => "btn" %>
  <%= link_to content_tag(:i, "", :class => "icon-plus-sign") + " New Question", "#", :class => "btn" %>

  <%= render 'question' %>
</div>
