<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @story.subtitle %>
</p>

<p>
  <b>User:</b>
  <%= @story.user.name %> (<%= @story.user.id %>)
</p>

<p>
  <%= @story.story_text %>
</p>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
