<div class="message" id="post_<%= post.id %>">
  <div class="message-user">
    <% if post.user.avatar.file? %>
      <%= image_tag post.user.avatar.url(:thumb) %>
    <% else %>
      <%= image_tag "default_profile.jpg" %>
    <% end %>
    <%= post.user.name %>
  </div>
  <div class="message-body">
    <% unless post.title.blank? %>
      <strong><%= post.title %></strong><br />
    <% end %>
    <%= Format.markdown post.message %><br />
    <hr />
    <div class="actions pull-left">
      <% if can? :create, Post %>
        <%= link_to "Reply", reply_story_post_path(@story, post), :remote => true %>
      <% else %>
        &nbsp;
      <% end %>
      <% if can? :manage, post %>
         &sdot; <%= link_to "Edit", edit_story_post_path(@story, post), :remote => true %>
         &sdot; <%= link_to "Delete", story_post_path(@story, post), :method => :delete, :confirm => "Are you sure you want to delete this post?", :remote => true %>
      <% end %>
    </div>
    <div class="meta pull-right">
      <span class="edit-time">
        <% if post.updated_at != post.created_at %>
          Last edited <%= timeago(post.updated_at) %> 
        <% end %>
      </span>
      <span>
        Posted <%= timeago(post.created_at) %>
      </span>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
