<div class="message" id="post_<%= post.id %>">
  <div class="message-user">
    <% if post.user.avatar.file? %>
      <%= image_tag post.user.avatar.url(:thumb) %>
    <% else %>
      <%= image_tag "alien.svg" %>
    <% end %>
    <%= post.user.name %>
  </div>
  <div class="message-body">
    <% unless post.title.blank? %>
      <strong><%= post.title %></strong><br />
    <% end %>
    <%= Format.markdown post.message %><br />
    <div class="actions">
      <% if can? :create, Post %>
        <%= link_to "Reply", reply_story_post_path(@story, post), :remote => true %>
      <% else %>
        &nbsp;
      <% end %>
      <% if can? :manage, post %>
         &sdot; <%= link_to "Edit", edit_story_post_path(@story, post), :remote => true %>
      <% end %>
    </div>
  </div>
</div>