<table class="table table-striped">
  <thead>
    <th>Thread</th>
    <th>Replies</th>
    <th>Views</th>
    <th>Last Reply</th>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <p class="lead <%= 'unread' if post.thread_unread?(current_user) %>" style="margin-bottom: 0;">
            <%= link_to post.title, [@story, post] %><br />
            <%= truncate post.message %>
          </p>
        </td>
        <td><%= post.descendants.count %></td>
        <td><%= post.impressionist_count(:filter=>:session_hash) %></td>
        <td><%= post.last_created %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, Post %>
  <%= link_to new_story_post_path(@story), :class => 'btn btn-primary', :remote => true do %>
    <i class="icon-plus"></i> New Thread 
  <% end %>
<% end %>
