<div class="post_top" id="post_<%= @post.id %>">
  <div class="stat_box">
    <div class="pull-left">
      <% if @post.user.avatar.file? %>
        <%= image_tag @post.user.avatar.url(:thumb) %>
      <% else %>
        <%= image_tag "alien.svg" %>
      <% end %>
      &nbsp;
      <strong><%= @post.user.name %></strong>
    </div>
    <div class="pull-right">
      <%= pluralize @post.children.count, "reply" %> /
      <%= pluralize @post.impressionist_count(:filter=>:session_hash), "view" %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="info_box">
    <h2><%= @post.title %></h2>
    <div class="lead message-body">
      <p class="lead">
        <%= @post.message %>
      </p>
      <div class="actions">
        <% if can? :manage, @post %>
          <%= link_to "Edit", edit_story_post_path(@story, @post), :remote => true %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= nested_posts @post.descendants.arrange(:order => :created_at) %>

<% if can? :create, Post %>
<div class="message reply_box">
  <div class="message-user">
    <% if current_user.avatar.file? %>
      <%= image_tag current_user.avatar.url(:thumb) %>
    <% else %>
      <%= image_tag "alien.svg" %>
    <% end %>
    <%= current_user.name %>
  </div>
  <div class="message-body">
    <%= form_for [@story, @new_post], :html => { :style => "margin: 0" }, :remote => true do |f| %>
      <%= f.hidden_field :parent_id %>
      <%= f.text_area :message, :rows => 5, :class => 'span5' %><br />
      <%= f.submit :class => 'btn btn-primary', :value => "Reply" %>
    <% end %>
  </div>
</div>
<% end %>