<% show_title = false if local_assigns[:show_title].nil? %>
<div class="paragraph-inner tab-pane <%= "hide" if paragraph_counter != 0 %> <%= "active" if paragraph_counter == 0 %>" id="para_<%= paragraph.id %>">
  <% if show_title %>
    <h1>Draft #<%= paragraph.id %></h1>
  <% end %>
  <% cache [paragraph, current_user, "paragraph"] do %>
  <div class="row-fluid">
    <div class="paragraph-content span10">
      <%= Format.markdown(paragraph.content) %>
    </div>
    <%= render :partial => 'paragraphs/paragraph_info', :locals => {:scene => scene, :paragraph => paragraph} %>
  </div>
  <% end %>
</div>
