<div class="paragraph-info span2">
  <span class="winner <%= "hide" if !paragraph.is_winner? %>">
    <i class="icon-trophy" rel="tooltip" title="<%= t('paragraphs.show.winner_tooltip') %>"></i>
  </span>
  <span class="paragraph-author">
    <%= t 'paragraphs.show.author_html', author: "<strong>#{paragraph.user ? link_to(paragraph.user.name, paragraph.user) : 'Guest'}</strong>".html_safe %>
  </span>
  <div class="likes">
    <span class="like-count">
      <i class="icon-heart"></i>
      <span id="para_<%= paragraph.id %>_like_count"><%= paragraph.likes.size %></span>
    </span> 
    &sdot;
    <%= like_link(paragraph) %>
  </div>
  <div class="paragraph-actions">
    <% if can? :manage, paragraph %>
    <div class="edit-paragraphs">                                              
      <%= link_to t('application.actions.edit'), edit_scene_paragraph_path(scene, paragraph), :remote => true %>
      &sdot;
      <%= link_to t('application.actions.delete'), scene_paragraph_path(scene, paragraph), remote: true, method: :delete, data: { confirm: destroy_para_confirm_message(scene) } %>
    </div>
    <div class="admin-paragraphs">
      <% if can? :winner, paragraph %>
        <% 
          if paragraph.is_winner?
            path = unwinner_paragraph_path(paragraph)
            text = t('paragraphs.show.unwinner')
          else
            path = winner_paragraph_path(paragraph)
            text = t('paragraphs.show.winner')
          end
        %>
        <%= link_to text, path, 
                  :id => "para_" + paragraph.id.to_s + "_winner_button", 
                  :remote => true %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
