<div class="paragraph-info span2">
  <span class="winner <%= "hide" if !paragraph.is_winner? %>">
    <i class="icon-trophy" rel="tooltip"></i>
  </span>
  <% if paragraph.user %>
    <span class="paragraph-author">By <strong><%= paragraph.user.name %></strong></span>
  <% end %>
  <div class="likes">
    <span class="like-count">
      <span id="para_<%= paragraph.id %>_like_count"><%= paragraph.likes.size %></span> <i class="icon-heart"></i>
    </span> 
    &sdot;
    <% if user_signed_in? %>
      <% if current_user.voted_up_on? paragraph %>
        <%= link_to like_paragraph_path(paragraph), :id => "para_" + paragraph.id.to_s + "_like_button", :class => 'love-link loved', :remote => true do %>
          <i class="icon-heart"></i> Loved
        <% end %>
      <% else %>
        <%= link_to like_paragraph_path(paragraph), :id => "para_" + paragraph.id.to_s + "_like_button", :class => 'love-link', :remote => true do %>
          <i class="icon-heart"></i> Love
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="paragraph-actions">
    <% if can? :manage, paragraph %>
    <div class="edit-paragraphs">                                              
      <%= link_to "Edit", edit_scene_paragraph_path(scene, paragraph), :remote => true %>
      &sdot;
      <%= link_to "Delete", scene_paragraph_path(scene, paragraph), remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <div class="admin-paragraphs">
      <% 
        if paragraph.is_winner?
          text = "Unmark as winner"
        else
          text = "Mark as winner"
        end
      %>
      <%= link_to text, winner_paragraph_path(paragraph), 
                :id => "para_" + paragraph.id.to_s + "_winner_button", 
                :remote => true %>
    </div>
    <% end %>
  </div>
</div>
