<div class="metanav">
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to current_user.name, current_user %> (<%= current_user.email %>)</li>
      <li><%= link_to t('application.metanav.profile'), current_user %></li>
      <li><%= link_to t('application.metanav.preferences'), users_edit_profile_path %></li>
      <% if current_user.admin? %>
        <li><%= link_to "Admin Dashboard", admins_dashboard_path %></li>
      <% end %>
      <li><%= link_to t('application.metanav.sign_out'), destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to t('application.metanav.sign_in'), new_user_session_path %></li>
      <li><%= link_to t('application.metanav.sign_up'), new_user_registration_path %></li>
    <% end %>
    <li class="buglink">
      <i class="icon-bullhorn"></i>
      <%= link_to t('application.metanav.bug'), "http://ensemble.boards.net/index.cgi?board=bugreports" %>
    </li>
  </ul>
</div>


