<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <%= link_to content_tag(:span, "En") + content_tag(:span, "semble"), root_path, :class => "brand" %>

    <ul class="nav pull-right">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
      <% if StoryCollab::Application.config.story_slam %>
        <li class="<%= 'active' if current_page?(storyslam_path) %>"><%= link_to "Story Slam", storyslam_path %></li>
      <% end %>
      <% if StoryCollab::Application.config.arrowhead %>
        <li class="<%= 'active' if current_page?(arrowhead_path) %>"><%= link_to "Arrowhead", arrowhead_path %></li>
      <% end %>
      <li class="<%= 'active' if current_page?(featured_path) %>"><%= link_to "Featured", featured_path %></li>
      <li class="<%= 'active' if current_page?(prompts_path) %>"><%= link_to "Community Prompts", prompts_path %></li>
      <li class="<%= 'active' if current_page?(new_story_path) %>"><%= link_to "Start a Story", new_story_path %></li>
      <li class="<%= 'active' if current_page?(stories_path) %>"><%= link_to "Stories", stories_path %></li>
      <li><%= link_to "Forums", "http://ensemble.boards.net/" %></li>
    </ul>
  </div>
</div>
