<!DOCTYPE html>
<html>
<head>
  <title>Ensemble</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400|Open+Sans:700|Merriweather:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div class="container">
    <header>
      <%= render 'layouts/metanav' %>
      <%= render 'layouts/nav' %>
    </header>

    <%= render 'layouts/notices' %>
    <%= yield %>
  
    <footer>
      <div class="outlinks pull-left">
        <%= link_to "Copyright Policy", copyright_path %>
      </div>
      <div class="outlinks pull-right">
        <a href="http://cs.stanford.edu/">
          <%= image_tag "stanford_cs.png" %>
        </a>
        <a href="http://hci.stanford.edu/">
          <%= image_tag "stanford_hci.png" %>
        </a>
        <a href="http://brown.stanford.edu/">
          <%= image_tag "brown.png" %>
        </a>
      </div>
    </footer>
  </div>
</body>
</html>
