<!DOCTYPE html>
<html>
<head>
  <title>StoryCollab</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>">story-collab</a>

    <% if user_signed_in? %>
    <ul class="nav">
      <li><%= link_to "current story", current_story_path %></li>
      <li><%= link_to "stories", stories_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    </ul>
    <% end %>
  </div>
</div>

<div class="container">
  <%= render 'layouts/notices' %>
  <%= yield %>
</div>

</body>
</html>
