<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Ensemble', :reverse => true, :separator => '-' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <meta property="fb:app_id" content="<%= FB_APP_ID %>" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400|Open+Sans:700|Merriweather:300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FB_APP_ID %>";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="container">
    <header>
      <%= render 'layouts/metanav' %>
      <%= render 'layouts/nav' %>
    </header>

    <%= render 'layouts/notices' %>
    <%= yield %>
  
    <footer>
      <div class="outlinks pull-right">
        <a href="http://cs.stanford.edu/">
          <%= image_tag "stanford_cs.png" %>
        </a>
        <a href="http://hci.stanford.edu/">
          <%= image_tag "stanford_hci.png" %>
        </a>
        <a href="http://brown.stanford.edu/">
          <%= image_tag "brown.png" %>
        </a>
      </div>
    </footer>
  </div>
</body>
</html>
